[Desktop Entry]
Name=Abuledu Calcul-Mental
Comment=Exercices de Calcul Mental pour l'école
TryExec=abuledu-calcul-mental
Exec=abuledu-calcul-mental %U
Icon=/usr/share/abuledu-calcul-mental/abuledu-calcul-mental-48.png
StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
Categories=Math;Education
