Source: leterrier-calculment
Section: misc
Priority: extra
Maintainer: Eric Seigne <eric.seigne@ryxeo.com>
Build-Depends: cdbs, libqt5webkit5-dev, qt5-qmake, qtbase5-dev, libqt5core5, zlib1g-dev, libexiv2-dev, libvorbis-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/leterrier-calculment
Vcs-Browser: https://redmine.ryxeo.com/projects/leterrier-calculment/issues

Package: leterrier-calculment
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${leterrier:Depends}, exiv2, zlib1g
Replaces: abuledu-calcul-mental, abuledu-calculmental, abuledu-calculment, leterrier-calcul-mental
Description: Calcul-Mental (Le Terrier d'AbulEdu)
 calcul-mental du Terrier d'AbulÉdu
