Source: leterrier-calcul-mental
Section: misc
Priority: extra
Maintainer: Eric Seigne <eric.seigne@ryxeo.com>
Build-Depends: debhelper (>=7.3.15), cdbs, qt4-qmake, libqt4-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/

Package: leterrier-calcul-mental
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-xml
Description: Calcul-Mental
 calcul-mental du terrier d'AbulÉdu
