[Desktop Entry]
Name=Abuledu Leterrier Calcul-Mental
Comment=Exercices de Calcul Mental pour l'école
TryExec=leterrier-calcul-mental
Exec=leterrier-calcul-mental %U
Icon=/usr/share/leterrier-calcul-mental/abuledu-calcul-mental-48.png
StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
Categories=Math;Education
