[Desktop Entry]
Name=AbulEdu Calcul-Mental
Comment=Exercices de Calcul Mental
Exec=leterrier-calcul-mental %U
Icon=/usr/share/leterrier-calcul-mental/abuledu-calcul-mental-48.png
Terminal=false
Type=Application
Categories=Education;abuledu-6ans-leterrier;abuledu-8ans-leterrier;abuledu-12ans-leterrier;
