#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

# Add here any variable or target overrides you need.
QMAKE=qmake-qt4
MAKE=make -j4
CFLAGS=-O3
CXXFLAGS=-O3

install/abuledu-calcul-mental::
	mkdir -p $(CURDIR)/debian/abuledu-calcul-mental/usr/bin/
	mkdir -p $(CURDIR)/debian/abuledu-calcul-mental/usr/share/abuledu-calcul-mental
	mkdir -p $(CURDIR)/debian/abuledu-calcul-mental/usr/share/applications
	install -D --mode=0755 $(CURDIR)/abuledu-calcul-mental.sh $(CURDIR)/debian/abuledu-calcul-mental/usr/bin/abuledu-calcul-mental
	install -D --mode=0644 $(CURDIR)/debian/*.desktop $(CURDIR)/debian/abuledu-calcul-mental/usr/share/applications/
	install -D --mode=0755 $(CURDIR)/leterrier-calcul-mental $(CURDIR)/debian/abuledu-calcul-mental/usr/share/abuledu-calcul-mental/
	cp -a  $(CURDIR)/data $(CURDIR)/debian/abuledu-calcul-mental/usr/share/abuledu-calcul-mental/

